@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align:baseline;
}
body {
    line-height: 1;
    font-size:12px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    /*font-family:\5fae\8f6f\96c5\9ed1;*/
}
input,textarea{font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

a{ text-decoration:none;}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;outline:none;}
a:active, a:focus {outline:none;}

/*浮动相关*/
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.fix{overflow:hidden; zoom:1;}
.clearfix:after {  display: block;  content: ".";  height: 0;  visibility: hidden;  clear: both;  font-size: 0;  line-height: 0  }
.clearfix {  *zoom:1}
.main_w1200{ width:1200px; margin:0px auto;}


